.confirm-container {
  padding: 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirm-icon-wrapper {
  color: #ef4444;
  background: #fee2e2;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.warning-icon {
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.confirm-title {
  font-size: 25px;
  font-weight: 700;
  color: #111827;
  margin: 0 0 30px 0 !important;
}

.confirm-body {
  color: #4b5563;
  max-width: 350px;
  font-size: 1rem;
  line-height: 1.5;
  padding-top: 16px;
}

.confirm-body p {
  margin: 0px;
  font-size: 17px;
}


.item-name {
  font-size: 1.2rem;
  font-weight: 800;
  color: #111827;
  display: block;
  margin: 8px 0;
}

.confirmation-question {
  margin-top: 10px;
  font-weight: 500;
}

.confirm-actions {
  margin-top: 30px;
  gap: 12px;
  width: 100%;
  justify-content: center;
}

.btn-cancel {
  color: black !important;
  background-color: #eaebee !important;
  font-weight: 600 !important;
  padding: 8px 25px !important;
  border-radius: 8px !important;
}

.btn-delete {
  background-color: #ef4444 !important;
  color: white !important;
  font-weight: 600 !important;
  padding: 8px 25px !important;
  border-radius: 8px !important;
}