.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  width: 330px;
  padding: 10px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.20);
  transition: transform 0.2s;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-2px);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 12px;
  font-weight: 500;
  color: #6B7280;
  margin: 0;
}

.card-value {
  font-size: 20px;
  font-weight: 700;
  margin: 4px 0 0;
  color: #374151;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

mat-icon {
  font-size: 25px;
}


