<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidebar">


    <div class="logo-section">
      <mat-icon class="logo-icon">agriculture</mat-icon>
      <span class="logo-text">AgroSoft</span>
    </div>

    <div class="menu-group">
      <p class="menu-title">MENU PRINCIPAL</p>
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/usuarios" routerLinkActive="active-link">
          <mat-icon matListItemIcon>person</mat-icon>
          <span matListItemTitle>Usuários</span>
        </a> -->
        <a mat-list-item routerLink="/funcionarios" routerLinkActive="active-link">
          <mat-icon matListItemIcon>badge</mat-icon>
          <span matListItemTitle>Funcionários</span>
        </a>
        <a mat-list-item routerLink="/animais" routerLinkActive="active-link">
          <mat-icon matListItemIcon>pets</mat-icon>
          <span matListItemTitle>Animais</span>
        </a>
        <a mat-list-item routerLink="/maquinas" routerLinkActive="active-link">
          <mat-icon matListItemIcon>construction</mat-icon>
          <span matListItemTitle>Máquinas</span>
        </a>
        <a mat-list-item routerLink="/financeiro" routerLinkActive="active-link">
          <mat-icon matListItemIcon>attach_money</mat-icon>
          <span matListItemTitle>Financeiro</span>
        </a>
        <!-- <a mat-list-item routerLink="/relatorios" routerLinkActive="active-link">
          <mat-icon matListItemIcon>bar_chart</mat-icon>
          <span matListItemTitle>Relatórios</span>
        </a> -->
      </mat-nav-list>
    </div>


    <div class="menu-group">
      <p class="menu-title">CONFIGURAÇÕES</p>
      <mat-nav-list>
        <a mat-list-item routerLink="/sistema">
          <mat-icon matListItemIcon>settings</mat-icon>
          <span matListItemTitle>Sistema</span>
        </a>
        <a mat-list-item routerLink="/perfis">
          <mat-icon matListItemIcon>supervisor_account</mat-icon>
          <span matListItemTitle>Perfis</span>
        </a>
      </mat-nav-list>
    </div>

  </mat-sidenav>


  <mat-sidenav-content>


    <div class="topbar">

    </div>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>