.table-header {
  margin: 44px 0px 24px;
}

.table-header h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table-header p {
  font-size: 20px;
  color: #6B7280; 
  margin: 10px 0 0 0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-bottom: 24px;
}
