.table-container {
  background: #ffffff;
  border-radius: 12px;
  padding: 0;
}


table {
  width: 100%;
  margin-bottom: 0px;
  border-collapse: separate;
  border-spacing: 0 10px; 
  background-color: #ffffff;
}


th {
  font-size: 12px;
  font-weight: 500;
  color: #6B7280;
  text-transform: uppercase;
  padding: 0px 16px 0px;
  border-bottom: 2px solid #E5E7EB;
}


tr.mat-row {
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

td {

  font-size: 14px;
  color: #374151;
  border-bottom: none;
    border-bottom: 2px solid #E5E7EB;
}


span.ativo,
span.inativo,
span.em-licenca {
  display: inline-block;
  min-width: 80px;
  text-align: center;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
}


.produto-cell {
  display: flex;
  align-items: center;
  gap: 12px;
}

.produto-icon {
  width: 36px;
  height: 36px;
  background-color: #FB923C;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.produto-nome {
  font-weight: 500;
}

.actions-cell {
  gap: 8px;
}

.actions-cell mat-icon {
  color: #6B7280;
}

.actions-cell button:hover mat-icon {
  color: #111827;
}

span.status-badge {
  display: inline-block;
  min-width: 80px;
  text-align: center;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
}



.mat-column-cargo,
.mat-column-email,
.mat-column-telefone,
.mat-column-actions,
.mat-column-workArea,
.mat-column-status {
  text-align: center;
}
