<div class="confirm-container">
  <div class="confirm-icon-wrapper">
    <mat-icon class="warning-icon">warning</mat-icon>
  </div>

  <h2 class="confirm-title">{{ data.title || 'Deletar Funcionário' }}</h2>

  <mat-dialog-content class="confirm-body">
    <p>Você vai excluir o funcionário: "{{ data.itemName }}". Tem certeza que deseja continuar?</p>

    <p class="confirmation-question"></p>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="confirm-actions">
    <button mat-button (click)="onCancel()" class="btn-cancel">Não, não quero</button>
    <button mat-raised-button (click)="onConfirm()" class="btn-delete">
      Sim, excluir
    </button>
  </mat-dialog-actions>
</div>